node_modules

logs
*.logs
npm-debug.log*

pids
*.pids
*.seed

.env
.vscode/*
.prettiercache
.eslintcache

dist
coverage

apps/**/coverage
apps/**/dist
apps/**/node_modules
apps/**/.env

packages/**/coverage
packages/**/dist
packages/**/node_modules
packages/**/.env